body{
    margin: 0;
    padding: 0;
    
}

#mainContainer{
    width: 100%;
    
    height: auto;
}
form{
    margin-top: 150px;
    margin: auto;
    width: 40%;;
}
header{
    text-align: center;
    font-weight: 200;
}