<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title%></title>
    <!--adding bootstrap to make look of button good -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <!--adding font awesome cdn-->
    	<meta name="viewport" content="width=device-widht initail-scale=1.0">
	    <script src="https://kit.fontawesome.com/b5d0e4ac97.js" crossorigin="anonymous"></script>
	    <script src="https://kit.fontawesome.com/b5d0e4ac97.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/css/style_user_sign_up.css">
        <link rel="stylesheet" href="/css/bootstrap-social-gh-pages/bootstrap-social.less">

</head>
<body>
    <div id="main-container">
        <header>
            <h1>Change Password </h1>
        </header>
    <form action="/user/updatePassword" method="post">
        <div class="form-group">
            <label for="currentPassword"> Current Password</label>
            <input type="password" class="form-control" id="inputPassword" name ="currentPassword" placeholder="Enter your current password" >
          
          <% if(errorMessage.length>0){%>
            <small  class="alert alert-danger " id="emailHelp" class="form-text text-muted"><%= errorMessage %></small>
          <% }%>
        </div>
          <div class="form-group">
              <label for="newPassword">New Password</label>
              <input type="password" class="form-control" id="newPassword" name ="password" placeholder="enter your password (min 5 character)" >
            </div>
            <div class="form-group">
                <label for="checkPassword">Confirm New Password</label>
                <input type="password" class="form-control" id="checkPassword" name ="checkPassword" placeholder="enter your password again" >
              </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
</body>
</html>